# import /etc/caddy/caddy.d/root.caddy

## Droplet
# import /etc/caddy/caddy.d/gitea.caddy
# import /etc/caddy/caddy.d/gitea-public.caddy
# import /etc/caddy/caddy.d/pitchwizard.caddy
# import /etc/caddy/caddy.d/valvopes.caddy

## Mini
# import /etc/caddy/caddy.d/aiostreams.caddy
# import /etc/caddy/caddy.d/minio.caddy
# import /etc/caddy/caddy.d/jellyfin.caddy
# import /etc/caddy/caddy.d/archivebox.caddy

## Lenovo
# import /etc/caddy/caddy.d/bluebubbles2.caddy

## Local Configs
## If you're enabling local configs, be sure to add the certs to the certs volume.
# import /etc/caddy/caddy.d/internal/immich.caddy
# import /etc/caddy/caddy.d/internal/magic-mich.caddy
# import /etc/caddy/caddy.d/internal/magic-mich-dev.caddy
# import /etc/caddy/caddy.d/internal/dev.caddy