# import /etc/caddy/caddy.d/root.caddy

## Local Configs
## If you're enabling local configs, be sure to add the certs to the certs volume.
# import /etc/caddy/caddy.d/immich.caddy

## Mini Local Configs
## If you're enabling local configs, be sure to add the certs to the certs volume.
# import /etc/caddy/caddy.d/lumiere.caddy
# import /etc/caddy/caddy.d/lumiere-dev.caddy
# import /etc/caddy/caddy.d/registry.caddy